<div class="equipment-about-swiper">
  <div class="info">
    <img src="@img/carBrands/brand3.png" width="40" height="40" alt="brand" />
    <div class="compare">
      <span class="discount">Скидка по трейд-ин</span>
      <span class="credit">Кредит от 0.01%</span>
      <button class="button clear">
        <svg
          width="45"
          height="45"
          viewBox="0 0 45 45"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="22.5" cy="22.5" r="22" fill="white" stroke="#3964FF" />
          <line x1="23.5" y1="15" x2="23.5" y2="30" stroke="#3964FF" />
          <line x1="29.5" y1="23" x2="29.5" y2="30" stroke="#3964FF" />
          <line x1="17.5" y1="19" x2="17.5" y2="30" stroke="#3964FF" />
        </svg>
      </button>
    </div>
  </div>
  <div class="swiper-equipment-about">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <div class="imageWrapper">
          <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide">
        <a href="@img/brand/brand-hero.jpg" data-fancybox="equipment">
          <div class="imageWrapper">
            <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="swiper-equipment-thumbs">
  <div class="swiper-wrapper">
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
    <div class="swiper-slide thumb">
      <div class="imageWrapper">
        <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
      </div>
    </div>
  </div>
  <div class="navigation">
    <button class="swiper-nav-btn eq-about-prev">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="20"
          cy="20"
          r="20"
          transform="rotate(180 20 20)"
          fill="#3964FF"
        />
        <path
          d="M13 20L18 22.8868V17.1132L13 20ZM28 19.5L17.5 19.5V20.5L28 20.5V19.5Z"
          fill="white"
        />
      </svg>
    </button>
    <button class="swiper-nav-btn eq-about-next">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="20" cy="20" r="20" fill="#3964FF" />
        <path
          d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
</div>
