<div class="contacts container">
  <div class="breadcrumbWrapper">
    @@include('../../UI/files/breadcrumbs.html', { 'text-link-1': 'Контакты', 'link-1': '/', 'class-2': 'hidden', 'class': 'gray', })
  </div>
  <h3>Контакты</h3>
  <div class="content">
    <div class="left">
      <div class="text">
        <p>
          Описание как проехать, когда повернуть, на что ориентироваться и
          прочее. Дальше текст для массы.
        </p>
        <p>
          Мы в постоянном поиске новых решений и инноваций. Узнайте о передовых
          технологиях, которые делают наши электрокары лучше для вас и для
          планеты.
        </p>
      </div>
      <div class="btn-wrapper">
        <button class="button dotted routeBtn">
          построить маршрут в Яндекс картах
        </button>
        <button class="button dotted routeBtn">
          построить маршрут в 2ГИС картах
        </button>
        <button class="button dotted routeBtn">
          построить маршрут в Google картах
        </button>
      </div>
    </div>
    <div class="right">
      <div class="imageWrapper">
        <img src="@img/contacts/contacts1.jpg" alt="contacts" />
      </div>
      <div class="imageWrapper">
        <img src="@img/contacts/contacts2.jpg" alt="contacts" />
      </div>
    </div>
  </div>
</div>
