<div class="cons-form container">
  <h3>получить консультацию</h3>
  <form class="form">
    <div class="inputs">
      <div class="input__row">
        <input
          type="text"
          class="input form__input-value input__valid-name"
          placeholder="Имя"
        />
        <small class="input__item-small"></small>
      </div>
      <div class="input__row">
        <input
          type="text"
          class="input form__input-value input__valid-phone"
          placeholder="+7"
        />
        <small class="input__item-small"></small>
      </div>
    </div>
    <p>
      Нажимая кнопку «Отправить» вы даёте свое согласие с
      <a href="">правилами обработки персональных данных.</a>
    </p>
    <button type="submit" class="button primary submit">Отправить</button>
  </form>
</div>
