<div class='equipment-programs'>
    <div class='top container'>
        <h4>гибкие программы кредитования</h4>
        <p>
          У нас действуют гибкие программы кредитования с минимальными процентами.
          Наши специалисты подберут оптимальную форму финансирования с тем расчетом,
          чтобы нагрузка на ваш бюджет была приемлемой.
        </p>
        <div class="programsList">
          <object type="image/svg+xml" data="@img/renesans.svg"></object>
          <object type="image/svg+xml" data="@img/alfabank.svg"></object>
          <object type="image/svg+xml" data="@img/vtb.svg"></object>
          <object type="image/svg+xml" data="@img/opt.svg"></object>
          <object type="image/svg+xml" data="@img/raif.svg"></object>
          <object type="image/svg+xml" data="@img/center.svg"></object>
          <object type="image/svg+xml" data="@img/sber.svg"></object>
          <object type="image/svg+xml" data="@img/russiabank.svg"></object>
          <object type="image/svg+xml" data="@img/gazprom.svg"></object>
          <object type="image/svg+xml" data="@img/tinkoff.svg"></object>
          <object type="image/svg+xml" data="@img/freedom.svg"></object>
          <object type="image/svg+xml" data="@img/avangard.svg"></object>
        </div>
        <div class="programsListMob">
          <div class="innerList">
            <object type="image/svg+xml" data="@img/renesans.svg"></object>
            <object type="image/svg+xml" data="@img/alfabank.svg"></object>
            <object type="image/svg+xml" data="@img/vtb.svg"></object>
            <object type="image/svg+xml" data="@img/opt.svg"></object>
            <object type="image/svg+xml" data="@img/raif.svg"></object>
            <object type="image/svg+xml" data="@img/center.svg"></object>
            <object type="image/svg+xml" data="@img/sber.svg"></object>
            <object type="image/svg+xml" data="@img/russiabank.svg"></object>
            <object type="image/svg+xml" data="@img/gazprom.svg"></object>
            <object type="image/svg+xml" data="@img/tinkoff.svg"></object>
            <object type="image/svg+xml" data="@img/freedom.svg"></object>
            <object type="image/svg+xml" data="@img/avangard.svg"></object>
          </div>
          <div class="innerList">
            <object type="image/svg+xml" data="@img/avangard.svg"></object>
            <object type="image/svg+xml" data="@img/freedom.svg"></object>
            <object type="image/svg+xml" data="@img/tinkoff.svg"></object>
            <object type="image/svg+xml" data="@img/gazprom.svg"></object>
            <object type="image/svg+xml" data="@img/russiabank.svg"></object>
            <object type="image/svg+xml" data="@img/sber.svg"></object>
            <object type="image/svg+xml" data="@img/center.svg"></object>
            <object type="image/svg+xml" data="@img/raif.svg"></object>
            <object type="image/svg+xml" data="@img/opt.svg"></object>
            <object type="image/svg+xml" data="@img/vtb.svg"></object>
            <object type="image/svg+xml" data="@img/alfabank.svg"></object>
            <object type="image/svg+xml" data="@img/renesans.svg"></object>
          </div>
    </div>
    <div class='formWrapper'>
        @@include('../credit-form/credit-form.component.html', {})
    </div>
  </div>
  </div>