<div class="secondSwiper comparison-second-swiper-wrapper">
  <div class="swiper comparison-second-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide swiperItem">
        <div class="comparison-second-item">
          <div class="imageWrapper">
            <img src="@img/main/car1.jpg" alt="car" />
            <button class="button removeBtn">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10" cy="10" r="10" fill="white" />
                <path d="M13.4629 6.96436L6.96289 13.4644" stroke="#3964FF" />
                <path d="M6.96289 6.96436L13.4629 13.4644" stroke="#3964FF" />
              </svg>
            </button>
          </div>
          <div class="info">
            <span class="title">HiPh i X</span>
            <span class="price">14 800 000 ₽</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiperItem">
        <div class="comparison-second-item">
          <div class="imageWrapper">
            <img src="@img/main/car1.jpg" alt="car" />
            <button class="button removeBtn">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10" cy="10" r="10" fill="white" />
                <path d="M13.4629 6.96436L6.96289 13.4644" stroke="#3964FF" />
                <path d="M6.96289 6.96436L13.4629 13.4644" stroke="#3964FF" />
              </svg>
            </button>
          </div>
          <div class="info">
            <span class="title">HiPh i X</span>
            <span class="price">14 800 000 ₽</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiperItem">
        <div class="comparison-second-item">
          <div class="imageWrapper">
            <img src="@img/main/car1.jpg" alt="car" />
            <button class="button removeBtn">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10" cy="10" r="10" fill="white" />
                <path d="M13.4629 6.96436L6.96289 13.4644" stroke="#3964FF" />
                <path d="M6.96289 6.96436L13.4629 13.4644" stroke="#3964FF" />
              </svg>
            </button>
          </div>
          <div class="info">
            <span class="title">HiPh i X</span>
            <span class="price">14 800 000 ₽</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiperItem">
        <div class="comparison-second-item">
          <div class="imageWrapper">
            <img src="@img/main/car1.jpg" alt="car" />
            <button class="button removeBtn">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10" cy="10" r="10" fill="white" />
                <path d="M13.4629 6.96436L6.96289 13.4644" stroke="#3964FF" />
                <path d="M6.96289 6.96436L13.4629 13.4644" stroke="#3964FF" />
              </svg>
            </button>
          </div>
          <div class="info">
            <span class="title">HiPh i X</span>
            <span class="price">14 800 000 ₽</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiperItem">
        <div class="comparison-second-item">
          <div class="imageWrapper">
            <img src="@img/main/car1.jpg" alt="car" />
            <button class="button removeBtn">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10" cy="10" r="10" fill="white" />
                <path d="M13.4629 6.96436L6.96289 13.4644" stroke="#3964FF" />
                <path d="M6.96289 6.96436L13.4629 13.4644" stroke="#3964FF" />
              </svg>
            </button>
          </div>
          <div class="info">
            <span class="title">HiPh i X</span>
            <span class="price">14 800 000 ₽</span>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiperItem">
        <div class="comparison-second-item">
          <div class="imageWrapper">
            <img src="@img/main/car1.jpg" alt="car" />
            <button class="button removeBtn">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="10" cy="10" r="10" fill="white" />
                <path d="M13.4629 6.96436L6.96289 13.4644" stroke="#3964FF" />
                <path d="M6.96289 6.96436L13.4629 13.4644" stroke="#3964FF" />
              </svg>
            </button>
          </div>
          <div class="info">
            <span class="title">HiPh i X</span>
            <span class="price">14 800 000 ₽</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <button class="swiper-nav-btn comparison-second-prev">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="20"
          cy="20"
          r="20"
          transform="rotate(180 20 20)"
          fill="#3964FF"
        />
        <path
          d="M13 20L18 22.8868V17.1132L13 20ZM28 19.5L17.5 19.5V20.5L28 20.5V19.5Z"
          fill="white"
        />
      </svg>
    </button>
    <button class="swiper-nav-btn comparison-second-next">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="20" cy="20" r="20" fill="#3964FF" />
        <path
          d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
</div>
