<div class='brand-models container'>
    <span class='title'>модельный ряд</span>
    <div class='modelsList'>
        <a href="model.html" class='model'>
            <div class='imageWrapper'>
              <img src="@img/model.png" fill alt="model" />
            </div>
            <div class='modelContent'>
              <span class='modelTitle'>Hongqi E-HS9 </span>
              <p>от 10 200 000 ₽</p>
            </div>
          </a>
        <a href="model.html"  class='model'>
            <div class='imageWrapper'>
              <img src="@img/model.png" fill alt="model" />
            </div>
            <div class='modelContent'>
              <span class='modelTitle'>Hongqi E-HS9 </span>
              <p>от 10 200 000 ₽</p>
            </div>
          </a>
        <a href="model.html" class='model'>
            <div class='imageWrapper'>
              <img src="@img/model.png" fill alt="model" />
            </div>
            <div class='modelContent'>
              <span class='modelTitle'>Hongqi E-HS9 </span>
              <p>от 10 200 000 ₽</p>
            </div>
          </a>
        <a href="model.html"  class='model'>
            <div class='imageWrapper'>
              <img src="@img/model.png" fill alt="model" />
            </div>
            <div class='modelContent'>
              <span class='modelTitle'>Hongqi E-HS9 </span>
              <p>от 10 200 000 ₽</p>
            </div>
          </a>
    </div>
  </div>