<div class="carCard">
  <div class="imageWrapper">
    <a href="model.html">
      <img src="@img/main/car1.jpg" alt="car" />
    </a>
    <div class="info">
      <img src="@img/brands/brand1.png" alt="brand" />
      <div class="compare">
        <span>Кредит от 0.01%</span>
        <button>
          <div class="inner-content">
            <div class="hidden-content">Сравнить</div>
            <svg
              width="45"
              height="45"
              viewBox="0 0 45 45"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="22.5"
                cy="22.5"
                r="22"
                fill="white"
                stroke="#3964FF"
              />
              <line x1="23.5" y1="15" x2="23.5" y2="30" stroke="#3964FF" />
              <line x1="29.5" y1="23" x2="29.5" y2="30" stroke="#3964FF" />
              <line x1="17.5" y1="19" x2="17.5" y2="30" stroke="#3964FF" />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
  <a href="model.html">
    <div class="content full">
      <span class="price">14 800 000 ₽</span>
      <span class="title">HiPhi X</span>
      <div class="options">
        <div class="option">
          <span class="optionTitle">Год выпуска:</span>
          <span class="optionLabel">2023</span>
        </div>
        <div class="option">
          <span class="optionTitle">Кузов:</span>
          <span class="optionLabel">Внедорожник 7 дв.</span>
        </div>
        <div class="option">
          <span class="optionTitle">Привод:</span>
          <span class="optionLabel">Полный</span>
        </div>
        <div class="option">
          <span class="optionTitle">Запас хода:</span>
          <span class="optionLabel">550 км</span>
        </div>
        <div class="option">
          <span class="optionTitle">Коробка:</span>
          <span class="optionLabel">АКПП</span>
        </div>
        <div class="option">
          <span class="optionTitle">Двигатель:</span>
          <span class="optionLabel">544 л.с. / 400 кВт / электро</span>
        </div>
      </div>
    </div>
  </a>
  <div class="btns full">
    <a href="model.html" class="button dotted">подробнее</a>
    <button class="button primary call-btn">заказать</button>
  </div>
</div>
