<div class="brand-selector @@index">
    <button type="button" class="model-selector-btn">
      Марка
      <span
        ><svg
          width="12"
          height="8"
          viewBox="0 0 12 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M11 1L6 6L1 1" stroke="#2A2B31" stroke-width="2" />
        </svg>
      </span>
    </button>
    <div class="brand-selector-content">
      <div class="selector-list">
        <label>
          @@include('../../UI/files/checkbox.html', { 'id': 'E-HS9',})
          <div class="inner-content">
            <img src="@img/catalog/brand1.png" alt="brand">
            <span>Zeekr</span>
          </div>
        </label>
        <label>
          @@include('../../UI/files/checkbox.html', { 'id': 'E-QM5',})
          <div class="inner-content">
            <img src="@img/catalog/brand2.png" alt="brand">
            <span>Lotus</span>
          </div>
        </label>
        <label>
          @@include('../../UI/files/checkbox.html', { 'id': 'H5',})
          <div class="inner-content">
            <img src="@img/catalog/brand3.png" alt="brand">
            <span>XPENG</span>
          </div>
        </label>
        <label>
          @@include('../../UI/files/checkbox.html', { 'id': 'H5',})
          <div class="inner-content">
            <img src="@img/catalog/brand4.png" alt="brand">
            <span>XPENG</span>
          </div>
        </label>
        <label>
          @@include('../../UI/files/checkbox.html', { 'id': 'H5',})
          <div class="inner-content">
            <img src="@img/catalog/brand5.png" alt="brand">
            <span>XPENG</span>
          </div>
        </label>
        <label>
          @@include('../../UI/files/checkbox.html', { 'id': 'H5',})
          <div class="inner-content">
            <img src="@img/catalog/brand6.png" alt="brand">
            <span>XPENG</span>
          </div>
        </label>
        <label>
          @@include('../../UI/files/checkbox.html', { 'id': 'H5',})
          <div class="inner-content">
            <img src="@img/catalog/brand7.png" alt="brand">
            <span>XPENG</span>
          </div>
        </label>
        <label>
          @@include('../../UI/files/checkbox.html', { 'id': 'H5',})
          <div class="inner-content">
            <img src="@img/catalog/brand8.png" alt="brand">
            <span>XPENG</span>
          </div>
        </label>
        <label>
          @@include('../../UI/files/checkbox.html', { 'id': 'H5',})
          <div class="inner-content">
            <img src="@img/catalog/brand9.png" alt="brand">
            <span>XPENG</span>
          </div>
        </label>
        <label>
          @@include('../../UI/files/checkbox.html', { 'id': 'H5',})
          <div class="inner-content">
            <img src="@img/catalog/brand10.png" alt="brand">
            <span>XPENG</span>
          </div>
        </label>
      </div>
      <div class="btns">
        <button type="button" class="button dotted applyBtn">применить</button>
        <button type="button" class="button clear clearBtn">
          <svg
            width="12"
            height="12"
            viewBox="0 0 12 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11 1L1 11"
              stroke="#9C9FAE"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M1.00049 1L11.0005 11"
              stroke="#9C9FAE"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span>Очистить</span>
        </button>
      </div>
      
    </div>
  </div>
  