<div class="stock-page">
  @@include('../comparison-btn/comparison-btn.component.html', {})
  <div class="top container">
    @@include('../../UI/files/breadcrumbs.html', {
        'text-link-1': 'Авто в наличии',
        'class-2': 'hidden',
        'class': 'gray',
    })
    <div class="topContent">
      <h3>авто в наличии</h3>
      <div class="filters">
        <div class="selectors">
          @@include('../brand-selector/brand-selector.component.html', {'index': 'z103'})
          @@include('../model-selector/model-selector.component.html', {'index': 'z102'})

        </div>

        <div class="checkboxes">
          <span class="checkboxesTitle">Показать авто:</span>
          <label>
            @@include('../../UI/files/checkbox.html', { 'id': 'new',})
            <span>Новый</span>
          </label>
          <label>
            @@include('../../UI/files/checkbox.html', { 'id': 'trade',})
            <span>С пробегом</span>
          </label>
        </div>
        <div class="sorted">
          <span>Сортировать по:</span>
          <button class="button clear sortBtn"><svg width="6" height="15" viewBox="0 0 6 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 15L0.113248 10L5.88675 10L3 15ZM3.5 2.18557e-08L3.5 10.5L2.5 10.5L2.5 -2.18557e-08L3.5 2.18557e-08Z" fill="#2A2B31"/>
            </svg> <span>По убыванию цены</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="stock-content">
    @@include('../car-card/car-card.component.html', {})
    @@include('../car-card/car-card.component.html', {})
    @@include('../car-card/car-card.component.html', {})
    @@include('../car-card/car-card.component.html', {})
    @@include('../car-card/car-card.component.html', {})
    @@include('../car-card/car-card.component.html', {})
    @@include('../car-card/car-card.component.html', {})
    @@include('../car-card/car-card.component.html', {})
  
  </div>
  <div class="btnWrapper">
    <button class="button dotted">загрузить еще</button>
  </div>
</div>
