<div class="modal-call">
    <div class="modal-content">
      <button class="button close-modal clear">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 1L1 21" stroke="#2A2B31" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1.00098 1L21.001 21" stroke="#2A2B31" stroke-linecap="round" stroke-linejoin="round"/>
          </svg> 
      </button>
      <h3>заказать звонок</h3>
      <form class="form">
        <div class="inputs">
          <div class="input__row">
            <input
              type="text"
              class="input form__input-value input__valid-name"
              placeholder="Имя"
            />
            <small class="input__item-small"></small>
          </div>
          <div class="input__row">
            <input
              type="text"
              class="input form__input-value input__valid-phone"
              placeholder="+7"
            />
            <small class="input__item-small"></small>
          </div>
        </div>
      <p>Нажимая кнопку «Отправить» вы даёте свое согласие с <a href="">правилами обработки персональных данных.</a> </p>
      <button type="submit" class="button primary submit">
          Отправить
      </button>
      </form>
    </div>
  </div>
  