<div class="tradeForm">
  <div class="top">
    <span class="title">авто в трейд-ин</span>
    <p>
      Быстрая покупка вашего автомобиля, без траты времени и сил на поиск
      покупателя.
    </p>
  </div>
  <form class="form">
    <div class="formInputs">
      <div class="input__row">
        <input
          type="text"
          class="input form__input-value input__valid-stamp"
          placeholder="Марка"
        />
        <small class="input__item-small"></small>
      </div>
      <div class="input__row">
        <input
          type="text"
          class="input form__input-value input__valid-model"
          placeholder="Модель"
        />
        <small class="input__item-small"></small>
      </div>
      <div class="input__row">
        <input
          type="text"
          class="input form__input-value input__valid-year"
          placeholder="Год"
        />
        <small class="input__item-small"></small>
      </div>
      <div class="input__row">
        <input
          type="text"
          class="input form__input-value input__valid-mileage"
          placeholder="Пробег"
        />
        <small class="input__item-small"></small>
      </div>
      <div class="input__row">
        <input
          type="text"
          class="input form__input-value input__valid-name"
          placeholder="Имя"
        />
        <small class="input__item-small"></small>
      </div>
      <div class="input__row">
        <input
          type="text"
          class="input form__input-value input__valid-phone"
          placeholder="+7"
        />
        <small class="input__item-small"></small>
      </div>
    </div>
    <p>
      Нажимая кнопку «Оценить авто» вы даёте свое согласие
      <a href="#"> с правилами обработки персональных данных.</a>
    </p>
    <button class="button evaluateBtn primary">Оценить авто</button>
  </form>
  <div class="bottom">
    <span class="title">у вас есть вопросы о трейд-ин?</span>
    <button class="button outline orderBtn call-btn">
      Заказать консультацию по выкупу
    </button>
  </div>
</div>
