<div class="model-hero">
  <div class="breadcrumbWrapper">
    @@include('../../UI/files/breadcrumbs.html', { 'text-link-1': 'Hongqi',
    'link-1': 'brand.html', 'text-link-2': 'Hongqi E-HS9 ', 'class': 'white', })
  </div>
  <span class="title">Hongqi E-HS9 </span>
  <div class="info">
    <span class="price"> от 7 960 000 ₽</span>
    <div class="btns">
      <button class="button secondary stockBtn">в наличии: 2 авто</button>
      <button class="button primary delivery-btn">записаться в поставку</button>
    </div>
  </div>
  <div class="video-wrapper">
    <video autoplay loop muted playsinline preload="auto">
      <source src="./files/video.mp4" type="video/mp4" />
    </video>
    <button class="unmuteBtn">
      <svg
        width="40px"
        height="40px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_15_183)">
          <path
            d="M3 16V8H6L11 4V20L6 16H3Z"
            stroke="#3964FF"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M14.5 15L20.5 9"
            stroke="#3964FF"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M14.5 9L20.5 15"
            stroke="#3964FF"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </g>
      </svg>
    </button>
  </div>
</div>
