<div class="brandItem">
  <div class="content">
    <div class="top">
      <div class="imageWrapper">
        <img src="@img/brand.png" alt="brand" />
      </div>
      <h4>Zeekr</h4>
    </div>
    <p class="text">
      Zeekr – инновационный бренд электромобилей премиум-класса, созданный в
      2021 году как дочерняя компания Geely Automobile. Продукция компании –
      ультрасовременные электрокары, поражающие своей оснащенностью и
      энергоэффективностью. ZEEKR X 2023 года – яркое тому подтверждение.
    </p>
    <a href="brand.html" class="aboutBrand">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="20" cy="20" r="19.5" fill="white" stroke="#3964FF" />
        <path
          d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
          fill="#3964FF"
        />
      </svg>
      <span>Подробнее о бренде</span>
    </a>
  </div>
  <div class="swiper-container brand-container">
    <div class="swiper swiper-brands">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="imageWrapper">
            <img src="@img/car.jpg" alt="car" loading="lazy" />
            <div class="innerContent">
              <h4 class="title">Zeekr 001</h4>
              <a href="model.html" class="viewBtn">
                <span>Смотреть модель</span>
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="20"
                    cy="20"
                    r="19.5"
                    fill="white"
                    stroke="#3964FF"
                  />
                  <path
                    d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                    fill="#3964FF"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="imageWrapper">
            <img src="@img/car.jpg" alt="car" loading="lazy" />
            <div class="innerContent">
              <h4 class="title">Zeekr 001</h4>
              <a href="model.html" class="viewBtn">
                <span>Смотреть модель</span>
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="20"
                    cy="20"
                    r="19.5"
                    fill="white"
                    stroke="#3964FF"
                  />
                  <path
                    d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                    fill="#3964FF"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="imageWrapper">
            <img src="@img/car.jpg" alt="car" loading="lazy" />
            <div class="innerContent">
              <h4 class="title">Zeekr 001</h4>
              <a href="model.html" class="viewBtn">
                <span>Смотреть модель</span>
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="20"
                    cy="20"
                    r="19.5"
                    fill="white"
                    stroke="#3964FF"
                  />
                  <path
                    d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                    fill="#3964FF"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="imageWrapper">
            <img src="@img/car.jpg" alt="car" loading="lazy" />
            <div class="innerContent">
              <h4 class="title">Zeekr 001</h4>
              <a href="model.html" class="viewBtn">
                <span>Смотреть модель</span>
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="20"
                    cy="20"
                    r="19.5"
                    fill="white"
                    stroke="#3964FF"
                  />
                  <path
                    d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                    fill="#3964FF"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="imageWrapper">
            <img src="@img/car.jpg" alt="car" loading="lazy" />
            <div class="innerContent">
              <h4 class="title">Zeekr 001</h4>
              <a href="model.html" class="viewBtn">
                <span>Смотреть модель</span>
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="20"
                    cy="20"
                    r="19.5"
                    fill="white"
                    stroke="#3964FF"
                  />
                  <path
                    d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                    fill="#3964FF"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="imageWrapper">
            <img src="@img/car.jpg" alt="car" loading="lazy" />
            <div class="innerContent">
              <h4 class="title">Zeekr 001</h4>
              <a href="model.html" class="viewBtn">
                <span>Смотреть модель</span>
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="20"
                    cy="20"
                    r="19.5"
                    fill="white"
                    stroke="#3964FF"
                  />
                  <path
                    d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                    fill="#3964FF"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="imageWrapper">
            <img src="@img/car.jpg" alt="car" loading="lazy" />
            <div class="innerContent">
              <h4 class="title">Zeekr 001</h4>
              <a href="model.html" class="viewBtn">
                <span>Смотреть модель</span>
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="20"
                    cy="20"
                    r="19.5"
                    fill="white"
                    stroke="#3964FF"
                  />
                  <path
                    d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                    fill="#3964FF"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="imageWrapper">
            <img src="@img/car.jpg" alt="car" loading="lazy" />
            <div class="innerContent">
              <h4 class="title">Zeekr 001</h4>
              <a href="model.html" class="viewBtn">
                <span>Смотреть модель</span>
                <svg
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="20"
                    cy="20"
                    r="19.5"
                    fill="white"
                    stroke="#3964FF"
                  />
                  <path
                    d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                    fill="#3964FF"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper thumbsCarsSwiper swiperThumbsBrand">
      <div class="swiper-wrapper">
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img src="@img/model.png" alt="brand" />
          </div>
          <p>P7</p>
        </div>
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img src="@img/model.png" alt="brand" />
          </div>
          <p>P7</p>
        </div>
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img src="@img/model.png" alt="brand" />
          </div>
          <p>P7</p>
        </div>
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img src="@img/model.png" alt="brand" />
          </div>
          <p>P7</p>
        </div>
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img src="@img/model.png" alt="brand" />
          </div>
          <p>P7</p>
        </div>
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img src="@img/model.png" alt="brand" />
          </div>
          <p>P7</p>
        </div>
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img src="@img/model.png" alt="brand" />
          </div>
          <p>P7</p>
        </div>
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img src="@img/model.png" alt="brand" />
          </div>
          <p>P7</p>
        </div>
      </div>
    </div>
    <div class="navigation">
      <button class="swiper-nav-btn brand-prev">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="20"
            cy="20"
            r="20"
            transform="rotate(180 20 20)"
            fill="#3964FF"
          />
          <path
            d="M13 20L18 22.8868V17.1132L13 20ZM28 19.5L17.5 19.5V20.5L28 20.5V19.5Z"
            fill="white"
          />
        </svg>
      </button>
      <button class="swiper-nav-btn brand-next">
        <svg
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="20" cy="20" r="20" fill="#3964FF" />
          <path
            d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
            fill="white"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
