<div class="model-selector @@index">
  <button type="button" class="model-selector-btn">
    Модель
    <span
      ><svg
        width="12"
        height="8"
        viewBox="0 0 12 8"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M11 1L6 6L1 1" stroke="#2A2B31" stroke-width="2" />
      </svg>
    </span>
  </button>
  <div class="model-selector-content">
    <div class="selector-list">
      <label>
        @@include('../../UI/files/checkbox.html', { 'id': 'E-HS9',})
        <span>E-HS9</span>
      </label>
      <label>
        @@include('../../UI/files/checkbox.html', { 'id': 'E-QM5',})
        <span>E-QM5</span>
      </label>
      <label>
        @@include('../../UI/files/checkbox.html', { 'id': 'H5',})
        <span>H5</span>
      </label>
    </div>
    <button type="button" class="button dotted applyBtn">применить</button>
    <button type="button" class="button clear clearBtn">
      <svg
        width="12"
        height="12"
        viewBox="0 0 12 12"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11 1L1 11"
          stroke="#9C9FAE"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M1.00049 1L11.0005 11"
          stroke="#9C9FAE"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <span>Очистить</span>
    </button>
  </div>
</div>
