<div class="partnersList">
  <div class="rowDesk">
    <div class="rowWithText">
      <p>Среди наших партнёров ведущие российские банки.</p>
      <div class="rows">
        <div class="row1">
          <div class="partnerItem">
            <object type="image/svg+xml" data="@img/renesans.svg"></object>
          </div>
          <div class="partnerItem">
            <object type="image/svg+xml" data="@img/vtb.svg"></object>
          </div>
          <div class="partnerItem">
            <object type="image/svg+xml" data="@img/raif.png"></object>
          </div>
        </div>
        <div class="row2">
          <div class="partnerItem">
            <object type="image/svg+xml" data="@img/tinkoff.svg"></object>
          </div>
          <div class="partnerItem">
            <object type="image/svg+xml" data="@img/sber.svg"></object>
          </div>
        </div>
      </div>
    </div>
    <div class="row3">
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/opt.svg"></object>
      </div>
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/alfabank.svg"></object>
      </div>
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/gazprom.svg"></object>
      </div>
    </div>
    <div class="row4">
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/center.svg"></object>
      </div>
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/avangard.svg"></object>
      </div>

      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/freedom.svg"></object>
      </div>

      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/russiabank.svg"></object>
      </div>
    </div>
    <div class="row5">
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/opendoor.svg"></object>
      </div>
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/pendo.svg"></object>
      </div>
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/ghost.svg"></object>
      </div>
      <div></div>
    </div>
    <div class="row6">
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/segment.svg"></object>
      </div>
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/outreach.svg"></object>
      </div>
    </div>
    <div class="row7">
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/grammarly.svg"></object>
      </div>
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/atlassian.svg"></object>
      </div>
      <div class="partnerItem">
        <object type="image/svg+xml" data="@img/afterpay.svg"></object>
      </div>

      <div></div>
    </div>
  </div>
  <div class="rowMob">
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/renesans.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/vtb.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/raif.png"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/tinkoff.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/sber.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/opt.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/alfabank.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/gazprom.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/center.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/avangard.svg"></object>
    </div>

    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/freedom.svg"></object>
    </div>

    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/russiabank.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/opendoor.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/pendo.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/ghost.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/segment.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/outreach.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/grammarly.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/atlassian.svg"></object>
    </div>
    <div class="partnerItem">
      <object type="image/svg+xml" data="@img/afterpay.svg"></object>
    </div>
  </div>
</div>
