<div class="aboutSwiper container">
  <div class="about-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide aboutItem">
        @@include('../tour/tour.component.html', {})
        <div class="content">
          <span class="title">
            Работаем <br />
            с 2020 года
          </span>
          <span class="subTitle">
            Преодолевем грани в индустрии электрических автомобилей.
          </span>
          <p>
            Мы - компания, которая преодолевает грани в индустрии электрических
            автомобилей. С 20XX года мы предоставляем вам совершенные
            премиальные китайские электрокары. Наша миссия - сделать мир лучше,
            предлагая экологически чистые и передовые решения для вашей
            мобильности. Наши ценности - это основа всего, что мы делаем. Мы в
            постоянном поиске новых решений и инноваций. Узнайте о передовых
            технологиях, которые делают наши электрокары лучше для вас и для
            планеты.
          </p>
        </div>
      </div>
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/crave-bg.png" alt="about" />
        </div>
        <div class="content">
          <span class="title">
            Работаем <br />
            с 2020 года
          </span>
          <span class="subTitle">
            Преодолевем грани в индустрии электрических автомобилей.
          </span>
          <p>
            Мы - компания, которая преодолевает грани в индустрии электрических
            автомобилей. С 20XX года мы предоставляем вам совершенные
            премиальные китайские электрокары. Наша миссия - сделать мир лучше,
            предлагая экологически чистые и передовые решения для вашей
            мобильности. Наши ценности - это основа всего, что мы делаем. Мы в
            постоянном поиске новых решений и инноваций. Узнайте о передовых
            технологиях, которые делают наши электрокары лучше для вас и для
            планеты.
          </p>
        </div>
      </div>
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <video autoplay loop muted playsinline preload="auto">
            <source src="./files/video.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="content">
          <span class="title">
            Работаем <br />
            с 2020 года
          </span>
          <span class="subTitle">
            Преодолевем грани в индустрии электрических автомобилей.
          </span>
          <p>
            Мы - компания, которая преодолевает грани в индустрии электрических
            автомобилей. С 20XX года мы предоставляем вам совершенные
            премиальные китайские электрокары. Наша миссия - сделать мир лучше,
            предлагая экологически чистые и передовые решения для вашей
            мобильности. Наши ценности - это основа всего, что мы делаем. Мы в
            постоянном поиске новых решений и инноваций. Узнайте о передовых
            технологиях, которые делают наши электрокары лучше для вас и для
            планеты.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <button class="swiper-nav-btn about-swiper-prev">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="20"
          cy="20"
          r="20"
          transform="rotate(180 20 20)"
          fill="#3964FF"
        />
        <path
          d="M13 20L18 22.8868V17.1132L13 20ZM28 19.5L17.5 19.5V20.5L28 20.5V19.5Z"
          fill="white"
        />
      </svg>
    </button>
    <button class="swiper-nav-btn about-swiper-next">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="20" cy="20" r="20" fill="#3964FF" />
        <path
          d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
</div>
