<div class='about-hero'>
    <div class='breadcrumbWrapper'>
        @@include('../../UI/files/breadcrumbs.html', {
            'text-link-1': 'О салоне',
            'class-2': 'hidden',
            'class': 'gray',
        })
    </div>
    <span class='title'>О салоне </span>
    <p class='info'>
      Наша цель сделать премиальный электрокары доступными для российского
      рынка.
    </p>
    <div class="about-hero-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class='imageWrapper'>
                    <img src="@img/about/hero.jpg" alt="hero" loading="lazy" />
                  </div>
            </div>
            <div class="swiper-slide">
                <div class='imageWrapper'>
                    <img src="@img/about/hero.jpg" alt="hero" loading="lazy" />
                  </div>
            </div>
            <div class="swiper-slide">
                <div class='imageWrapper'>
                    <img src="@img/about/hero.jpg" alt="hero" loading="lazy" />
                  </div>
            </div>
            <div class="swiper-slide">
                <div class='imageWrapper'>
                    <img src="@img/about/hero.jpg" alt="hero" loading="lazy" />
                  </div>
            </div>
        </div>
    </div>
    <div class="about-hero-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide thumb">
                <div class='imageWrapper'>
                    <img
                      src='@img/about/about1.jpg'
                      alt="brand"
                      loading="lazy"
                    />
                  </div>
            </div>
            <div class="swiper-slide thumb">
                <div class='imageWrapper'>
                    <img
                      src='@img/about/about1.jpg'
                      alt="brand"
                      loading="lazy"
                    />
                  </div>
            </div>
            <div class="swiper-slide thumb">
                <div class='imageWrapper'>
                    <img
                      src='@img/about/about1.jpg'
                      alt="brand"
                      loading="lazy"
                    />
                  </div>
            </div>
            <div class="swiper-slide thumb">
                <div class='imageWrapper'>
                    <img
                      src='@img/about/about1.jpg'
                      alt="brand"
                      loading="lazy"
                    />
                  </div>
            </div>
        </div>
    </div>
  </div>