<div class="equipment-cost container">
    <div class="left">
        <span>стоимость</span>
        <div class="inputs">
            <div class="top">
                @@include('../../UI/files/double-range.html', {})
            </div>
            <div class="bottom">
                <label >
                    <span>от</span>
                    <input
                        id="from-input"
                        type="text"
                        class="input form__input-value input__valid-positive-number"
                    />
                </label>
                <label >
                    <span>до</span>
                    <input
                        id="to-input"
                        type="text"
                        class="input form__input-value input__valid-positive-number"
                    />
                </label>
                
                
            </div>
        </div>
    </div>
    <div class="right">
        <span>показать</span>
        <div class="checkboxes">
            <label>
                @@include('../../UI/files/checkbox.html', { 'id': 'equipment',})
                <span>Classic</span>
            </label>
            <label>
                @@include('../../UI/files/checkbox.html', { 'id': 'equipment',})
                <span>Classic</span>
            </label>
            <label>
                @@include('../../UI/files/checkbox.html', { 'id': 'equipment',})
                <span>Classic</span>
            </label>
            <label>
                @@include('../../UI/files/checkbox.html', { 'id': 'equipment',})
                <span>Classic</span>
            </label>
            <label>
                @@include('../../UI/files/checkbox.html', { 'id': 'equipment',})
                <span>Classic</span>
            </label>
            <label>
                @@include('../../UI/files/checkbox.html', { 'id': 'equipment',})
                <span>Classic</span>
            </label>
            <label>
                @@include('../../UI/files/checkbox.html', { 'id': 'equipment',})
                <span>Classic</span>
            </label>
            
        </div>
    </div>

</div>