<div class="brand-about container">
  <div class="swiper brand-about-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/brand/section1.jpg" alt="about" />
        </div>
        <div class="aboutItemContent">
          <span>О бренде Hongqi</span>
          <p>
            Hongqi относится к китайским премиум-брендам, которые уже достаточно
            давно существуют на рынке. Первый выпуск автомобиля был в 1959 г. В
            течение нескольких десятилетий здесь выпускался ряд проверенных
            моделей, которые постоянно совершенствовались. Модельный ряд пережил
            несколько поколений и перезапусков, поэтому цена и комплектация
            Hongqi может заметно отличаться. Это автомобили с действительно
            оригинальным внешним видом. На российский рынок первые поставки
            начали производиться только в 2023 году. К характерным чертам
            модельного ряда Hongqi можно отнести высокий уровень надежности,
            привлекательный внешний вид и хорошее техническое оснащение.
            Современные модели имеют качественную электронику.
          </p>
        </div>
      </div>
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/brand/section1.jpg" alt="about" />
        </div>
        <div class="aboutItemContent">
          <span>О бренде Hongqi</span>
          <p>
            Hongqi относится к китайским премиум-брендам, которые уже достаточно
            давно существуют на рынке. Первый выпуск автомобиля был в 1959 г. В
            течение нескольких десятилетий здесь выпускался ряд проверенных
            моделей, которые постоянно совершенствовались. Модельный ряд пережил
            несколько поколений и перезапусков, поэтому цена и комплектация
            Hongqi может заметно отличаться. Это автомобили с действительно
            оригинальным внешним видом. На российский рынок первые поставки
            начали производиться только в 2023 году. К характерным чертам
            модельного ряда Hongqi можно отнести высокий уровень надежности,
            привлекательный внешний вид и хорошее техническое оснащение.
            Современные модели имеют качественную электронику.
          </p>
        </div>
      </div>
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/brand/section1.jpg" alt="about" />
        </div>
        <div class="aboutItemContent">
          <span>О бренде Hongqi</span>
          <p>
            Hongqi относится к китайским премиум-брендам, которые уже достаточно
            давно существуют на рынке. Первый выпуск автомобиля был в 1959 г. В
            течение нескольких десятилетий здесь выпускался ряд проверенных
            моделей, которые постоянно совершенствовались. Модельный ряд пережил
            несколько поколений и перезапусков, поэтому цена и комплектация
            Hongqi может заметно отличаться. Это автомобили с действительно
            оригинальным внешним видом. На российский рынок первые поставки
            начали производиться только в 2023 году. К характерным чертам
            модельного ряда Hongqi можно отнести высокий уровень надежности,
            привлекательный внешний вид и хорошее техническое оснащение.
            Современные модели имеют качественную электронику.
          </p>
        </div>
      </div>
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/brand/section1.jpg" alt="about" />
        </div>
        <div class="aboutItemContent">
          <span>О бренде Hongqi</span>
          <p>
            Hongqi относится к китайским премиум-брендам, которые уже достаточно
            давно существуют на рынке. Первый выпуск автомобиля был в 1959 г. В
            течение нескольких десятилетий здесь выпускался ряд проверенных
            моделей, которые постоянно совершенствовались. Модельный ряд пережил
            несколько поколений и перезапусков, поэтому цена и комплектация
            Hongqi может заметно отличаться. Это автомобили с действительно
            оригинальным внешним видом. На российский рынок первые поставки
            начали производиться только в 2023 году. К характерным чертам
            модельного ряда Hongqi можно отнести высокий уровень надежности,
            привлекательный внешний вид и хорошее техническое оснащение.
            Современные модели имеют качественную электронику.
          </p>
        </div>
      </div>
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/brand/section1.jpg" alt="about" />
        </div>
        <div class="aboutItemContent">
          <span>О бренде Hongqi</span>
          <p>
            Hongqi относится к китайским премиум-брендам, которые уже достаточно
            давно существуют на рынке. Первый выпуск автомобиля был в 1959 г. В
            течение нескольких десятилетий здесь выпускался ряд проверенных
            моделей, которые постоянно совершенствовались. Модельный ряд пережил
            несколько поколений и перезапусков, поэтому цена и комплектация
            Hongqi может заметно отличаться. Это автомобили с действительно
            оригинальным внешним видом. На российский рынок первые поставки
            начали производиться только в 2023 году. К характерным чертам
            модельного ряда Hongqi можно отнести высокий уровень надежности,
            привлекательный внешний вид и хорошее техническое оснащение.
            Современные модели имеют качественную электронику.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <button class="swiper-nav-btn brand-about-prev">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="20"
          cy="20"
          r="20"
          transform="rotate(180 20 20)"
          fill="#3964FF"
        />
        <path
          d="M13 20L18 22.8868V17.1132L13 20ZM28 19.5L17.5 19.5V20.5L28 20.5V19.5Z"
          fill="white"
        />
      </svg>
    </button>
    <button class="swiper-nav-btn brand-about-next">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="20" cy="20" r="20" fill="#3964FF" />
        <path
          d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
</div>
