<div class="equipment-about container">
  <div class="left">
    @@include('../equipment-about-swiper/equipment-about-swiper.component.html',
    {})
    <div class="mobInfo">
      <span class="price">7 960 000 ₽</span>
      <div class="list">
        <div class="option">
          <span class="optionTitle">Год выпуска:</span>
          <span class="optionLabel">2023</span>
        </div>
        <div class="option">
          <span class="optionTitle">Кузов:</span>
          <span class="optionLabel">Кроссовер</span>
        </div>
        <div class="option">
          <span class="optionTitle">Привод:</span>
          <span class="optionLabel">Полный</span>
        </div>
        <div class="option">
          <span class="optionTitle">Запас хода:</span>
          <span class="optionLabel">555 км</span>
        </div>
        <div class="option">
          <span class="optionTitle">Коробка:</span>
          <span class="optionLabel">АКПП</span>
        </div>
        <div class="option">
          <span class="optionTitle">Двигатель:</span>
          <span class="optionLabel">544 л.с. / 400 кВт / электро</span>
        </div>
      </div>
      <div class="btns">
        <button class="button outline">записаться на тест-драйв</button>
        <form class="form">
          <div class="inputs">
            <div class="input__row">
              <input
                type="text"
                class="input form__input-value input__valid-name"
                placeholder="Имя"
              />
              <small class="input__item-small"></small>
            </div>
            <div class="input__row">
              <input
                type="text"
                class="input form__input-value input__valid-phone"
                placeholder="+7"
              />
              <small class="input__item-small"></small>
            </div>
          </div>
          <p>
            Нажимая кнопку «Отправить» вы даёте свое согласие с
            <a href="">правилами обработки персональных данных.</a>
          </p>
          <button type="submit" class="button primary submit">Отправить</button>
        </form>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="mainContent">
        <span class="price">7 960 000 ₽</span>
        <div class="list">
          <div class="option">
            <span class="optionTitle">Год выпуска:</span>
            <span class="optionLabel">2023</span>
          </div>
          <div class="option">
            <span class="optionTitle">Кузов:</span>
            <span class="optionLabel">Кроссовер</span>
          </div>
          <div class="option">
            <span class="optionTitle">Привод:</span>
            <span class="optionLabel">Полный</span>
          </div>
          <div class="option">
            <span class="optionTitle">Запас хода:</span>
            <span class="optionLabel">555 км</span>
          </div>
          <div class="option">
            <span class="optionTitle">Коробка:</span>
            <span class="optionLabel">АКПП</span>
          </div>
          <div class="option">
            <span class="optionTitle">Двигатель:</span>
            <span class="optionLabel">544 л.с. / 400 кВт / электро</span>
          </div>
        </div>
        <div class="btns">
          <button class="button outline">записаться на тест-драйв</button>
          <form class="form">
            <div class="inputs">
              <div class="input__row">
                <input
                  type="text"
                  class="input form__input-value input__valid-name"
                  placeholder="Имя"
                />
                <small class="input__item-small"></small>
              </div>
              <div class="input__row">
                <input
                  type="text"
                  class="input form__input-value input__valid-phone"
                  placeholder="+7"
                />
                <small class="input__item-small"></small>
              </div>
            </div>
            <p>
              Нажимая кнопку «Отправить» вы даёте свое согласие с
              <a href="">правилами обработки персональных данных.</a>
            </p>
            <button type="submit" class="button primary submit">
              Отправить
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
