<div class="model-about container">
  <div class="top">
    <span class="title">Контроль на дороге</span>
    <p>
      Интеллектуальная система полного привода с молниеносным переключением
      режимов.
    </p>
  </div>
  <div class="model-about-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/exterior/exterior1.jpg" alt="exterior" />
        </div>
        <div class="aboutItemContent">
          <span class="subtitle">
            Интеллектуальная система полного привода с молниеносным
            переключением режимов.
          </span>
          <p>
            Он может как ускориться на трассе, так и осторожно ездить по городу,
            в этом ему помогают интеллектуальные системы сканирования и
            управления движением.
          </p>
        </div>
      </div>
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/exterior/exterior1.jpg" alt="exterior" />
        </div>
        <div class="aboutItemContent">
          <span class="subtitle">
            Интеллектуальная система полного привода с молниеносным
            переключением режимов.
          </span>
          <p>
            Он может как ускориться на трассе, так и осторожно ездить по городу,
            в этом ему помогают интеллектуальные системы сканирования и
            управления движением.
          </p>
        </div>
      </div>
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/exterior/exterior1.jpg" alt="exterior" />
        </div>
        <div class="aboutItemContent">
          <span class="subtitle">
            Интеллектуальная система полного привода с молниеносным
            переключением режимов.
          </span>
          <p>
            Он может как ускориться на трассе, так и осторожно ездить по городу,
            в этом ему помогают интеллектуальные системы сканирования и
            управления движением.
          </p>
        </div>
      </div>
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/exterior/exterior1.jpg" alt="exterior" />
        </div>
        <div class="aboutItemContent">
          <span class="subtitle">
            Интеллектуальная система полного привода с молниеносным
            переключением режимов.
          </span>
          <p>
            Он может как ускориться на трассе, так и осторожно ездить по городу,
            в этом ему помогают интеллектуальные системы сканирования и
            управления движением.
          </p>
        </div>
      </div>
      <div class="swiper-slide aboutItem">
        <div class="imageWrapper">
          <img src="@img/exterior/exterior1.jpg" alt="exterior" />
        </div>
        <div class="aboutItemContent">
          <span class="subtitle">
            Интеллектуальная система полного привода с молниеносным
            переключением режимов.
          </span>
          <p>
            Он может как ускориться на трассе, так и осторожно ездить по городу,
            в этом ему помогают интеллектуальные системы сканирования и
            управления движением.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="navigation">
    <button class="swiper-nav-btn model-about-prev">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="20"
          cy="20"
          r="20"
          transform="rotate(180 20 20)"
          fill="#3964FF"
        />
        <path
          d="M13 20L18 22.8868V17.1132L13 20ZM28 19.5L17.5 19.5V20.5L28 20.5V19.5Z"
          fill="white"
        />
      </svg>
    </button>
    <button class="swiper-nav-btn model-about-next">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="20" cy="20" r="20" fill="#3964FF" />
        <path
          d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
          fill="white"
        />
      </svg>
    </button>
  </div>
</div>
