<div class="accordion-wrapper">
  <button class="accordion">
    <span>@@title</span>
    <div class="icon">
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="15"
          cy="15"
          r="14.5"
          transform="matrix(-4.37114e-08 -1 -1 4.37114e-08 30 30)"
          fill="white"
          stroke="#3964FF"
        />
        <path
          d="M15 9.75L17.8868 14.75L12.1132 14.75L15 9.75ZM14.5 21L14.5 14.25L15.5 14.25L15.5 21L14.5 21Z"
          fill="#3964FF"
        />
      </svg>
    </div>
  </button>
  <div class="accordion-content">
    <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ul>
  </div>
</div>
