<div class="catalog">
  @@include('../comparison-btn/comparison-btn.component.html', {})
  <div class="breadcrumbWrapper container">
    @@include('../../UI/files/breadcrumbs.html', { 'text-link-1': 'Каталог', 'link-1': '/', 'class-2': 'hidden', 'class': 'gray', })
  </div>
  <h3 class="container">Каталог</h3>
  <div class="content">
    <div class="catalog-item">
      <div class="left">
        <div class="content">
          <div class="brand">
            <div class="imageWrapper">
              <img src="@img/brand.png" alt="brand" />
            </div>
            <h4>Zeekr</h4>
          </div>
          <a href="brand.html" class="aboutBrand">
            <svg
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="20" cy="20" r="19.5" fill="white" stroke="#3964FF" />
              <path
                d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                fill="#3964FF"
              />
            </svg>
            <span>Подробнее о бренде</span>
          </a>
        </div>
      </div>
      <div class="right">
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
      </div>
    </div>
    <div class="catalog-item">
      <div class="left">
        <div class="content">
          <div class="brand">
            <div class="imageWrapper">
              <img src="@img/brand.png" alt="brand" />
            </div>
            <h4>Zeekr</h4>
          </div>
          <a href="brand.html" class="aboutBrand">
            <svg
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="20" cy="20" r="19.5" fill="white" stroke="#3964FF" />
              <path
                d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                fill="#3964FF"
              />
            </svg>
            <span>Подробнее о бренде</span>
          </a>
        </div>
      </div>
      <div class="right">
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
      </div>
    </div>
    <div class="catalog-item">
      <div class="left">
        <div class="content">
          <div class="brand">
            <div class="imageWrapper">
              <img src="@img/brand.png" alt="brand" />
            </div>
            <h4>Zeekr</h4>
          </div>
          <a href="brand.html" class="aboutBrand">
            <svg
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="20" cy="20" r="19.5" fill="white" stroke="#3964FF" />
              <path
                d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                fill="#3964FF"
              />
            </svg>
            <span>Подробнее о бренде</span>
          </a>
        </div>
      </div>
      <div class="right">
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
        <a href="model.html" class="car-item">
          <div class="image-wrapper">
            <img src="@img/model.png" alt="car" />
          </div>
          <span class="title">Hongqi E-HS9</span>
          <span class="price">от 10 200 000 ₽</span>
        </a>
      </div>
    </div>
  </div>
</div>
