<div class="model-exterior container">
  <div class="top">
    <span class="title">Экстерьер</span>
    <p>
      Красота новой роскоши. Благодаря экстремальным линиям и чистой красоте
      ZEEKR X переосмысляет традиционную эстетику внедорожника.
    </p>
  </div>
  <div class="model-exterior-content">
    <div class="swiper-container">
      <div class="exterior-main-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="imageWrapper">
              <img
                src="@img/exterior/exterior-swiper.jpeg"
                alt="hero"
                loading="lazy"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imageWrapper">
              <img
                src="@img/exterior/exterior-swiper.jpeg"
                alt="hero"
                loading="lazy"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imageWrapper">
              <img
                src="@img/exterior/exterior-swiper.jpeg"
                alt="hero"
                loading="lazy"
              />
            </div>
          </div>
          <div class="swiper-slide">
            <div class="imageWrapper">
              <img
                src="@img/exterior/exterior-swiper.jpeg"
                alt="hero"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="thumSwiperWrapper">
        <span>Выберите цвет кузова:</span>
        <div class="exterior-main-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide thumb" style="background: #fff"></div>
            <div class="swiper-slide thumb" style="background: #848896"></div>
            <div class="swiper-slide thumb" style="background: #1b1b1b"></div>
            <div class="swiper-slide thumb" style="background: #91b8aa"></div>
          </div>
        </div>
      </div>
      <div class="exterior-main-swiper-text">
        <div class="swiper-wrapper">
          <div class="swiper-slide">мокрый асфальт</div>
          <div class="swiper-slide">мокрый асфальт</div>
          <div class="swiper-slide">мокрый асфальт</div>
          <div class="swiper-slide">мокрый асфальт</div>
        </div>
      </div>
    </div>
  </div>
  @@include('../model-exterior-swiper-video/model-exterior-swiper-video.component.html',
  {})
</div>
