<div class="modal-success">
    <div class="modal-content">
      <button class="button close-modal clear">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 1L1 21" stroke="#2A2B31" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M1.00098 1L21.001 21" stroke="#2A2B31" stroke-linecap="round" stroke-linejoin="round"/>
          </svg> 
      </button>
      <h3>ваша заявка успешно отправлена!</h3>
      <p>Наш специалист свяжется с вами в ближайшее время.</p>
    </div>
  </div>
  