<div class="brand-hero">
  <div class="breadcrumbWrapper">
    @@include('../../UI/files/breadcrumbs.html', { 'text-link-1': 'Hongqi', 'class-2': 'hidden', 'class': 'white', })
  </div>
  <span class="title">Hongqi</span>
  <div class="swiper brand-hero-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="imageWrapper">
          <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="imageWrapper">
          <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="imageWrapper">
          <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="imageWrapper">
          <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="imageWrapper">
          <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="imageWrapper">
          <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide">
        <div class="imageWrapper">
          <img src="@img/brand/brand-hero.jpg" alt="hero" loading="lazy" />
        </div>
      </div>
    </div>
    <div class="pagination brand-hero-pagination"></div>
  </div>
  <div class="swiper brand-hero-thumbs">
    <div class="swiper-wrapper">
      <div class="swiper-slide thumb">
        <div class="imageWrapper">
          <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide thumb">
        <div class="imageWrapper">
          <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide thumb">
        <div class="imageWrapper">
          <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide thumb">
        <div class="imageWrapper">
          <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide thumb">
        <div class="imageWrapper">
          <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide thumb">
        <div class="imageWrapper">
          <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
        </div>
      </div>
      <div class="swiper-slide thumb">
        <div class="imageWrapper">
          <img src="@img/brand/brand1.jpg" alt="brand" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
</div>
