<div class="search-page">
  <div class="top container">
    @@include('../../UI/files/breadcrumbs.html', { 'text-link-1': 'Поиск',
    'class-2': 'hidden', 'class': 'gray', })
    <h3>поиск по запросу: Lixiang</h3>
    <p>Найдено: <span>15 автомобилей</span></p>
  </div>
  <div class="content container">
    <div class="carList">
      <div class="carWrapper">
        <span class="count"> 1 </span>
        @@include('../car-card-row/car-card-row.component.html')
      </div>
      <div class="carWrapper">
        <span class="count"> 2 </span>
        @@include('../car-card-row/car-card-row.component.html')
      </div>
      <div class="carWrapper">
        <span class="count"> 3 </span>
        @@include('../car-card-row/car-card-row.component.html')
      </div>
      <div class="carWrapper">
        <span class="count"> 4 </span>
        @@include('../car-card-row/car-card-row.component.html')
      </div>
      <div class="carWrapper">
        <span class="count"> 5 </span>
        @@include('../car-card-row/car-card-row.component.html')
      </div>
      <div class="carWrapper">
        <span class="count"> 6 </span>
        @@include('../car-card-row/car-card-row.component.html')
      </div>
      <div class="carWrapper">
        <span class="count"> 7 </span>
        @@include('../car-card-row/car-card-row.component.html')
      </div>
      <div class="carWrapper">
        <span class="count"> 8 </span>
        @@include('../car-card-row/car-card-row.component.html')
      </div>
      <div class="carWrapper">
        <span class="count"> 9 </span>
        @@include('../car-card-row/car-card-row.component.html')
      </div>
      <div class="carWrapper">
        <span class="count"> 10 </span>
        @@include('../car-card-row/car-card-row.component.html')
      </div>
      <div class="btnWrapper">
        <button class="button dotted loadBtn">загрузить еще</button>
      </div>
    </div>

    <div class="search-about">
      <div class="aboutContent">
        <div class="imageWrapper">
          <img src="@img/main/car1.jpg" alt="brand" />
        </div>
        <div class="brand">
          <div class="imageWrapper">
            <span>
              <img src="@img/brands/brand11.png" alt="brand" />
            </span>
          </div>

          <span class="brandTitle">Lixiang</span>
        </div>
        <p class="description">
          XPeng — молодая компания по производству электромобилей, которая в
          свое время воспользовалась решением Tesla открыть свои патенты для
          всех. Сейчас она отличается очень быстрым ростом продаж за счет того,
          что создает электрокары для среднего класса. Фирма зарабатывает как на
          создании умных машин, так и разработке и внедрении новых технологий.
        </p>
        <a href="/brand/Hongqi" class="button viewBtn">
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="20" cy="20" r="19.5" fill="white" stroke="#3964FF" />
            <path
              d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
              fill="#3964FF"
            />
          </svg>
          <span> Подробнее о бренде</span>
        </a>
      </div>
    </div>
  </div>
</div>
