<div class="test-drive-form">
    <form class="form">
        <div class="form-text">
            <h3>заполните форму</h3>
            <p>Для прохождения тест-драйва при себе обязательно иметь удостоверение личности либо паспорт, <br>а также водительское удостоверение</p>
        </div>
        <div class="test-drive-swiper-wrapper">
            <div class="test-drive-swiper">
                <div class="swiper-wrapper">
                    <label class="swiper-slide">
                        <input type="checkbox" class="test-drive-checkbox">
                        <div class="image-wrapper">
                            <img src="@img/model.png" alt="model">
                        </div>
                        <p>Zeekr 001</p>
                    </label>
                    <label class="swiper-slide">
                        <input type="checkbox" class="test-drive-checkbox">
                        <div class="image-wrapper">
                            <img src="@img/model2.png" alt="model">
                        </div>
                        <p>Zeekr 001</p>
                    </label>
                    <label class="swiper-slide">
                        <input type="checkbox" class="test-drive-checkbox">
                        <div class="image-wrapper">
                            <img src="@img/model.png" alt="model">
                        </div>
                        <p>Zeekr 001</p>
                    </label>
                    <label class="swiper-slide">
                        <input type="checkbox" class="test-drive-checkbox">
                        <div class="image-wrapper">
                            <img src="@img/model2.png" alt="model">
                        </div>
                        <p>Zeekr 001</p>
                    </label>
                    <label class="swiper-slide">
                        <input type="checkbox" class="test-drive-checkbox">
                        <div class="image-wrapper">
                            <img src="@img/model.png" alt="model">
                        </div>
                        <p>Zeekr 001</p>
                    </label>
                    <label class="swiper-slide">
                        <input type="checkbox" class="test-drive-checkbox">
                        <div class="image-wrapper">
                            <img src="@img/model2.png" alt="model">
                        </div>
                        <p>Zeekr 001</p>
                    </label>
                    <label class="swiper-slide">
                        <input type="checkbox" class="test-drive-checkbox">
                        <div class="image-wrapper">
                            <img src="@img/model.png" alt="model">
                        </div>
                        <p>Zeekr 001</p>
                    </label>
                </div>
            </div>
            <div class="navigation">
                <button type="button" class="swiper-nav-btn test-drive-prev"> 
                    <svg
                        width="40"
                        height="40"
                        viewBox="0 0 40 40"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <circle
                        cx="20"
                        cy="20"
                        r="20"
                        transform="rotate(180 20 20)"
                        fill="#3964FF"
                        />
                        <path
                        d="M13 20L18 22.8868V17.1132L13 20ZM28 19.5L17.5 19.5V20.5L28 20.5V19.5Z"
                        fill="white"
                        />
                    </svg>
                </button>
                <button type="button" class="swiper-nav-btn test-drive-next">
                    <svg
                        width="40"
                        height="40"
                        viewBox="0 0 40 40"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <circle cx="20" cy="20" r="20" fill="#3964FF" />
                        <path
                        d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
                        fill="white"
                        />
                    </svg>
                </button>
            </div>
        </div>
        <div class="form-inputs">
            <label class="input__row">
              <input
                type="text"
                id="date-picker"
                class="input"
                placeholder="Какая дата вам удобна?"
              />
              <div class="icon">
                <svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="2.5" width="27" height="18" stroke="#3964FF"/>
                    <line x1="4.5" y1="2.18558e-08" x2="4.5" y2="5" stroke="#3964FF"/>
                    <line x1="10.5" y1="2.18558e-08" x2="10.5" y2="5" stroke="#3964FF"/>
                    <line x1="16.5" y1="2.18558e-08" x2="16.5" y2="5" stroke="#3964FF"/>
                    <line x1="22.5" y1="2.18558e-08" x2="22.5" y2="5" stroke="#3964FF"/>
                    </svg>
              </div>
             
                
              <small class="input__item-small"></small>
            </label>
            <div class="input__row">
              <input
                type="text"
                class="input form__input-value input__valid-time"
                placeholder="Какое время вам удобно?"
              />
              <small class="input__item-small"></small>
            </div>
            <div class="input__row">
              <input
                type="text"
                class="input form__input-value input__valid-name"
                placeholder="Имя"
              />
              <small class="input__item-small"></small>
            </div>
            <div class="input__row">
              <input
                type="text"
                class="input form__input-value input__valid-phone"
                placeholder="+7"
              />
              <small class="input__item-small"></small>
            </div>
        </div>
        <div class="form-submit">
            <p>Нажимая кнопку «Записаться» вы даёте свое согласие с <a href="#"  target="_blank">правилами обработки персональных данных.</a> <br>
                Мы не рассылаем спам своим клиентам.</p>
                <button class="button primary submitBtn">
                    записаться
                  </button>
        </div>
    </form>
</div>