<div class="model-page">
    @@include('../comparison-btn/comparison-btn.component.html', {})
    @@include('../model-hero-video/model-hero-video.component.html', {})
    @@include('../model-exterior-video/model-exterior-video.component.html', {})
    @@include('../model-interior-video/model-interior-video.component.html', {})
    @@include('../model-multimedia-video/model-multimedia-video.component.html', {})
    @@include('../model-about-video/model-about-video.component.html', {})
    @@include('../model-completates/model-completates.component.html', {})
    @@include('../model-stock/model-stock.component.html', {})
  </div>
  