<div class="accordion-wrapper">
  <button class="accordion">
    <span>@@title</span>
    <div class="icon">
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="15"
          cy="15"
          r="14.5"
          transform="matrix(-4.37114e-08 -1 -1 4.37114e-08 30 30)"
          fill="white"
          stroke="#3964FF"
        />
        <path
          d="M15 9.75L17.8868 14.75L12.1132 14.75L15 9.75ZM14.5 21L14.5 14.25L15.5 14.25L15.5 21L14.5 21Z"
          fill="#3964FF"
        />
      </svg>
    </div>
  </button>
  <div class="accordion-content">
    <div class="equipment-swiper-wrapper">
      <span>Заголовок с текстовым описанием</span>
      <div class="equipment-second-swiper-mini">
        <div class="swiper-wrapper">
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
        </div>
      </div>
    </div>
    <div class="equipment-swiper-wrapper">
      <span>Пример длинного заголовка с текстовым описанием характеристик</span>
      <div class="equipment-second-swiper-mini">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Механика (6MT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
        </div>
      </div>
    </div>
    <div class="equipment-swiper-wrapper">
      <span>Мощность, л.с.</span>
      <div class="equipment-second-swiper-mini">
        <div class="swiper-wrapper">
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
          <div class="swiper-slide">100</div>
        </div>
      </div>
    </div>
    <div class="equipment-swiper-wrapper">
      <span>Пример длинного заголовка с текстовым описанием характеристик</span>
      <div class="equipment-second-swiper-mini">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Механика (6MT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
          <div class="swiper-slide">Автомат (6AT)</div>
        </div>
      </div>
    </div>
    <div class="equipment-swiper-wrapper">
      <span>Пример характеристики с буллетами</span>
      <div class="equipment-second-swiper-mini">
        <div class="swiper-wrapper">
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
        </div>
      </div>
    </div>
    <div class="equipment-swiper-wrapper">
      <span>Пример характеристики с буллетами</span>
      <div class="equipment-second-swiper-mini">
        <div class="swiper-wrapper">
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
        </div>
      </div>
    </div>
    <div class="equipment-swiper-wrapper">
      <span>Пример характеристики с буллетами</span>
      <div class="equipment-second-swiper-mini">
        <div class="swiper-wrapper">
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
          <div class="swiper-slide">-</div>
        </div>
      </div>
    </div>

    <!-- <table class="iksweb">
      <tbody>
        <tr>
          <th colspan="7">Заголовок с текстовым описанием</th>
        </tr>
        <tr>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
        </tr>
        <tr>
          <th colspan="7">Пример длинного заголовка с текстовым описанием характеристик</th>
        </tr>
        <tr>
          <td>Механика (6MT)</td>
          <td>Автомат (6AT)</td>
          <td>Автомат (6AT)</td>
          <td>Автомат (6AT)</td>
          <td>Автомат (6AT)</td>
          <td>Автомат (6AT)</td>
          <td>Автомат (6AT)</td>
        </tr>
        <tr>
          <th colspan="7">Мощность, л.с.</th>
        </tr>
        <tr>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
          <td>100</td>
        </tr>
        <tr>
          <th colspan="7">Пример длинного заголовка с текстовым описанием характеристик</th>
        </tr>
        <tr>
          <td>Механика (6MT)</td>
          <td>Автомат (6AT)</td>
          <td>Автомат (6AT)</td>
          <td>Автомат (6AT)</td>
          <td>Автомат (6AT)</td>
          <td>Автомат (6AT)</td>
          <td>Автомат (6AT)</td>
        </tr>
        <tr>
          <th colspan="7">Пример характеристики с буллетами</th>
        </tr>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td><svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 1.00098L5.27778 7.00098L1 3.18279" stroke="#7434A4" stroke-width="2"/>
</svg>
</td>
          <td><svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 1.00098L5.27778 7.00098L1 3.18279" stroke="#7434A4" stroke-width="2"/>
</svg>
</td>
          <td><svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 1.00098L5.27778 7.00098L1 3.18279" stroke="#7434A4" stroke-width="2"/>
</svg>
</td>
        </tr>
        <tr>
          <th colspan="7">Пример характеристики с буллетами</th>
        </tr>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td><svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 1.00098L5.27778 7.00098L1 3.18279" stroke="#7434A4" stroke-width="2"/>
</svg>
</td>
          <td><svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 1.00098L5.27778 7.00098L1 3.18279" stroke="#7434A4" stroke-width="2"/>
</svg>
</td>
          <td><svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 1.00098L5.27778 7.00098L1 3.18279" stroke="#7434A4" stroke-width="2"/>
</svg>
</td>
        </tr>
        <tr>
          <th colspan="7">Пример характеристики с буллетами</th>
        </tr>
        <tr>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td><svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 1.00098L5.27778 7.00098L1 3.18279" stroke="#7434A4" stroke-width="2"/>
</svg>
</td>
          <td><svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 1.00098L5.27778 7.00098L1 3.18279" stroke="#7434A4" stroke-width="2"/>
</svg>
</td>
          <td><svg width="13" height="9" viewBox="0 0 13 9" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 1.00098L5.27778 7.00098L1 3.18279" stroke="#7434A4" stroke-width="2"/>
</svg>
</td>
        </tr>
      </tbody>
    </table> -->
    <!-- <ul>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
      <li>Lorem ipsum dolor sit amet.</li>
    </ul> -->
  </div>
</div>
