<div class="stock">
  <div class="top">
    <h3>В Наличии</h3>
    <a href="stock.html" class="aboutBtn">
      <svg
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="20" cy="20" r="19.5" fill="white" stroke="#3964FF" />
        <path
          d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
          fill="#3964FF"
        />
      </svg>
      <span>Посмотреть все</span>
    </a>
  </div>
  <div class="stockList">
    @@include('../main-car-swiper/main-car-swiper.component.html', {})
  </div>
  <a herf="stock.html" class="aboutBtnMob">
    <svg
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="20" cy="20" r="19.5" fill="white" stroke="#3964FF" />
      <path
        d="M27 20L22 17.1132V22.8868L27 20ZM12 20.5H22.5V19.5H12V20.5Z"
        fill="#3964FF"
      />
    </svg>
    <span>Посмотреть все</span>
  </a>
  <div class="bg grad"></div>
</div>
