<div class="equipment-about-stock container">
  <div class="left">
    @@include('../equipment-about-swiper/equipment-about-swiper.component.html',{})

    <div class="mobInfo">
      <span class="price">7 960 000 ₽</span>
      <div class="list">
        <div class="option">
          <span class="optionTitle">Год выпуска:</span>
          <span class="optionLabel">2023</span>
        </div>
        <div class="option">
          <span class="optionTitle">Кузов:</span>
          <span class="optionLabel">Кроссовер</span>
        </div>
        <div class="option">
          <span class="optionTitle">Привод:</span>
          <span class="optionLabel">Полный</span>
        </div>
        <div class="option">
          <span class="optionTitle">Запас хода:</span>
          <span class="optionLabel">555 км</span>
        </div>
        <div class="option">
          <span class="optionTitle">Коробка:</span>
          <span class="optionLabel">АКПП</span>
        </div>
        <div class="option">
          <span class="optionTitle">Двигатель:</span>
          <span class="optionLabel">544 л.с. / 400 кВт / электро</span>
        </div>
      </div>
      <div class="btns">
        <button class="button outline">записаться на тест-драйв</button>
        <form class="form">
          <div class="inputs">
            <div class="input__row">
              <input
                type="text"
                class="input form__input-value input__valid-name"
                placeholder="Имя"
              />
              <small class="input__item-small"></small>
            </div>
            <div class="input__row">
              <input
                type="text"
                class="input form__input-value input__valid-phone"
                placeholder="+7"
              />
              <small class="input__item-small"></small>
            </div>
          </div>
          <p>
            Нажимая кнопку «Отправить» вы даёте свое согласие с
            <a href="">правилами обработки персональных данных.</a>
          </p>
          <button type="submit" class="button primary submit">Отправить</button>
        </form>
      </div>
    </div>
    <div class="description">
      <div class="title">описание и характеристики</div>
      <div class="text">
        <p>
          Hongqi относится к китайским премиум-брендам, которые уже достаточно
          давно существуют на рынке. Первый выпуск автомобиля был в 1959 г. В
          течение нескольких десятилетий здесь выпускался ряд проверенных
          моделей, которые постоянно совершенствовались. Модельный ряд пережил
          несколько поколений и перезапусков, поэтому цена и комплектация Hongqi
          может заметно отличаться. Это автомобили с действительно оригинальным
          внешним видом. На российский рынок первые поставки начали
          производиться только в 2023 году.
        </p>
        <p>
          Hongqi относится к китайским премиум-брендам, которые уже достаточно
          давно существуют на рынке. Первый выпуск автомобиля был в 1959 г. В
          течение нескольких десятилетий здесь выпускался ряд проверенных
          моделей, которые постоянно совершенствовались. Модельный ряд пережил
          несколько поколений и перезапусков, поэтому цена и комплектация Hongqi
          может заметно отличаться. Это автомобили с действительно оригинальным
          внешним видом. На российский рынок первые поставки начали
          производиться только в 2023 году.
        </p>
      </div>
    </div>
    <div class="accordionList">
      @@include('../accordion2/accordion2.component.html', {'title': 'заголовок характеристики'})
      @@include('../accordion2/accordion2.component.html', {'title': 'заголовок характеристики'})
      @@include('../accordion2/accordion2.component.html', {'title': 'заголовок характеристики'})
      @@include('../accordion2/accordion2.component.html', {'title': 'заголовок характеристики'})
      @@include('../accordion2/accordion2.component.html', {'title': 'заголовок характеристики'})
      @@include('../accordion2/accordion2.component.html', {'title': 'заголовок характеристики'})
    </div>
  </div>
  <div class="right">
    <div class="content">
      <div class="mainContent">
        <span class="price">4p</span>
        <div class="list">
          <div class="option">
            <div class="optionTitle">Год выпуска:</div>
            <div class="optionLabel">2024</div>
          </div>
          <div class="option">
            <div class="optionTitle">Год выпуска:</div>
            <div class="optionLabel">2024</div>
          </div>
          <div class="option">
            <div class="optionTitle">Год выпуска:</div>
            <div class="optionLabel">2024</div>
          </div>
          <div class="option">
            <div class="optionTitle">Год выпуска:</div>
            <div class="optionLabel">2024</div>
          </div>
          <div class="option">
            <div class="optionTitle">Год выпуска:</div>
            <div class="optionLabel">2024</div>
          </div>
        </div>
        <div class="btns">
          <button class="button outline call-traid">
            записаться на тест-драйв
          </button>
          <form class="form">
            <div class="inputs">
              <div class="input__row">
                <input
                  type="text"
                  class="input form__input-value input__valid-name"
                  placeholder="Имя"
                />
                <small class="input__item-small"></small>
              </div>
              <div class="input__row">
                <input
                  type="text"
                  class="input form__input-value input__valid-phone"
                  placeholder="+7"
                />
                <small class="input__item-small"></small>
              </div>
            </div>
            <p>
              Нажимая кнопку «Отправить» вы даёте свое согласие с
              <a href="">правилами обработки персональных данных.</a>
            </p>
            <button type="submit" class="button primary submit">
              Отправить
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
