<div class="model-interior container">
  <div class="top">
    <span class="title">интерьер</span>
    <p>
      Оригинальный компактный роскошный автомобиль с новым языком городского
      дизайна.
    </p>
  </div>
  <div class="model-interior-content">
    <div class="swiper-container">
      <a
        href="https://pano.autohome.com.cn/car/pano/60492#pvareaid=2042304"
        target="_blank"
        class="button primary panoramaBtn"
        >панорама</a
      >
      <div class="model-interior-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiperItem">
            <a href="@img/interior/interior-main.jpg" data-fancybox="interior">
              <div class="imageWrapper">
                <img
                  src="@img/interior/interior-main.jpg"
                  alt="interior"
                  loading="lazy"
                />
              </div>
            </a>
          </div>
          <div class="swiper-slide swiperItem">
            <a href="@img/interior/interior-main.jpg" data-fancybox="interior">
              <div class="imageWrapper">
                <img
                  src="@img/interior/interior-main.jpg"
                  alt="interior"
                  loading="lazy"
                />
              </div>
            </a>
          </div>
          <div class="swiper-slide swiperItem">
            <a href="@img/interior/interior-main.jpg" data-fancybox="interior">
              <div class="imageWrapper">
                <img
                  src="@img/interior/interior-main.jpg"
                  alt="interior"
                  loading="lazy"
                />
              </div>
            </a>
          </div>
          <div class="swiper-slide swiperItem">
            <a href="@img/interior/interior-main.jpg" data-fancybox="interior">
              <div class="imageWrapper">
                <img
                  src="@img/interior/interior-main.jpg"
                  alt="interior"
                  loading="lazy"
                />
              </div>
            </a>
          </div>
        </div>
        <div class="pagination interior-pagination"></div>
        <div class="model-interior-thumbs">
          <div class="swiper-wrapper">
            <div class="swiper-slide thumb">
              <div class="imageWrapper">
                <img
                  src="@img/interior/interior1.jpg"
                  alt="interior"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="swiper-slide thumb">
              <div class="imageWrapper">
                <img
                  src="@img/interior/interior1.jpg"
                  alt="interior"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="swiper-slide thumb">
              <div class="imageWrapper">
                <img
                  src="@img/interior/interior1.jpg"
                  alt="interior"
                  loading="lazy"
                />
              </div>
            </div>
            <div class="swiper-slide thumb">
              <div class="imageWrapper">
                <img
                  src="@img/interior/interior1.jpg"
                  alt="interior"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="model-interior-swiper-text">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            заголовок слайда про интерьер, например премиальные материалы
            отделки салона
          </div>
          <div class="swiper-slide">
            заголовок слайда про интерьер, например премиальные материалы
            отделки салона
          </div>
          <div class="swiper-slide">
            заголовок слайда про интерьер, например премиальные материалы
            отделки салона
          </div>
          <div class="swiper-slide">
            заголовок слайда про интерьер, например премиальные материалы
            отделки салона
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
