<div class="model-page">
  @@include('../comparison-btn/comparison-btn.component.html', {})
  @@include('../model-hero/model-hero.component.html', {})
  @@include('../model-exterior/model-exterior.component.html', {})
  @@include('../cons-form/cons-form.component.html', {})
  @@include('../model-interior/model-interior.component.html', {})
  @@include('../model-multimedia/model-multimedia.component.html', {})
  @@include('../model-about/model-about.component.html', {})
  @@include('../model-completates/model-completates.component.html', {})
  @@include('../model-stock/model-stock.component.html', {})
</div>
