<div class="exterior-swiper">
  <div class="swiper-exterior">
    <div class="swiper-wrapper">
      <div class="swiper-slide exteriorItem">
        <a href="./files/video.mp4" data-fancybox="exterior">
          <div class="imageWrapper">
            <video autoplay loop muted playsinline preload="auto">
              <source src="./files/video.mp4" type="video/mp4" />
            </video>
            <img src="@img/exterior/exterior1.jpg" hidden alt="exterior" />
          </div>
        </a>
      </div>
      <div class="swiper-slide exteriorItem">
        <a href="@img/exterior/exterior1.jpg" data-fancybox="exterior">
          <div class="imageWrapper">
            <img src="@img/exterior/exterior1.jpg" alt="exterior" />
          </div>
        </a>
      </div>
      <div class="swiper-slide exteriorItem">
        <a href="./files/video.mp4" data-fancybox="exterior">
          <div class="imageWrapper">
            <video autoplay loop muted playsinline preload="auto">
              <source src="./files/video.mp4" type="video/mp4" />
            </video>
            <img src="@img/exterior/exterior1.jpg" hidden alt="exterior" />
          </div>
        </a>
      </div>
      <div class="swiper-slide exteriorItem">
        <a href="@img/exterior/exterior1.jpg" data-fancybox="exterior">
          <div class="imageWrapper">
            <img src="@img/exterior/exterior1.jpg" alt="exterior" />
          </div>
        </a>
      </div>
    </div>
    <div class="pagination exterior-pagination"></div>
    <div class="swiper-exterior-thumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img
              src="@img/interior/interior1.jpg"
              alt="interior"
              loading="lazy"
            />
          </div>
        </div>
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img
              src="@img/exterior/exterior1.jpg"
              alt="interior"
              loading="lazy"
            />
          </div>
        </div>
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img
              src="@img/interior/interior1.jpg"
              alt="interior"
              loading="lazy"
            />
          </div>
        </div>
        <div class="swiper-slide thumb">
          <div class="imageWrapper">
            <img
              src="@img/exterior/exterior1.jpg"
              alt="interior"
              loading="lazy"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-exterior-text">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        заголовок слайда про интерьер, например премиальные материалы отделки
        заголовок слайда про интерьер, например премиальные материалы отделки
        заголовок слайда про интерьер, например премиальные материалы отделки
      </div>
      <div class="swiper-slide">
        заголовок слайда про интерьер, например премиальные материалы отделки
        заголовок слайда про интерьер, например премиальные материалы отделки
        заголовок слайда про интерьер, например премиальные материалы отделки
      </div>
      <div class="swiper-slide">
        заголовок слайда про интерьер, например премиальные материалы отделки
        заголовок слайда про интерьер, например премиальные материалы отделки
        заголовок слайда про интерьер, например премиальные материалы отделки
      </div>
      <div class="swiper-slide">
        заголовок слайда про интерьер, например премиальные материалы отделки
        заголовок слайда про интерьер, например премиальные материалы отделки
        заголовок слайда про интерьер, например премиальные материалы отделки
      </div>
    </div>
  </div>
</div>
