<div class="equipment-second-swiper-fix">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="top">
                <h5>Classic</h5>
                <span >7 960 000 ₽</span>
            </div>
           
        </div>
        <div class="swiper-slide">
            <div class="top">
                <h5>Classic</h5>
                <span >7 960 000 ₽</span>
            </div>
           
        </div>
        <div class="swiper-slide">
            <div class="top">
                <h5>Classic</h5>
                <span >7 960 000 ₽</span>
            </div>
            
        </div>
        <div class="swiper-slide">
            <div class="top">
                <h5>Classic</h5>
                <span >7 960 000 ₽</span>
            </div>
           
        </div>
        <div class="swiper-slide">
            <div class="top">
                <h5>Classic</h5>
                <span >7 960 000 ₽</span>
            </div>
           
        </div>
        <div class="swiper-slide">
            <div class="top">
                <h5>Classic</h5>
                <span >7 960 000 ₽</span>
            </div>
          
        </div>
        <div class="swiper-slide">
            <div class="top">
                <h5>Classic</h5>
                <span >7 960 000 ₽</span>
            </div>
            
        </div>
        <div class="swiper-slide">
            <div class="top">
                <h5>Classic</h5>
                <span >7 960 000 ₽</span>
            </div>
           
        </div>
        <div class="swiper-slide">
            <div class="top">
                <h5>Classic</h5>
                <span >7 960 000 ₽</span>
            </div>
          
        </div>
        <div class="swiper-slide">
            <div class="top">
                <h5>Classic</h5>
                <span >7 960 000 ₽</span>
            </div>
           
        </div>
    </div>
</div>